// *BANNER STARTS HERE
#hero {
  $height: 800px;

  min-height: $height;
  & .container > .row {
    height: $height;
  }
  .heroContent {
    color: $fontColor;
    h3 {
      font-weight: 400;
      font-size: 24px;
    }
    h1 {
      margin: 15px 0;
      font-family: $headingFont;
      font-weight: 700;
      font-size: 64px;
      line-height: 83px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 180%;
      margin-top: 21px;
      margin-bottom: 81px;
    }
    // BUTTON GRP
    .btn_grp {
      a {
        @include button(normal, 20px 30px);
        &:last-child {
          @include button(ghost);
          margin-left: 11px;
        }
      }
    }
    // SOCIAL LINKS
    .social_links {
      ul li {
        display: inline-block;
        a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          display: block;
          background-color: #f4f3f3;
          color: #000;
          border-radius: 50%;
          margin: 0 8px;
        }
      }
    }
  }
  .heroImage {
    outline: 1px solid white;
    text-align: center;
    img {
      width: 100%;
      max-width: 646px;
      min-width: 200px;
      display: block;
      margin: auto;
    }
  }
}
// *BANNER ENDS HERE
