nav.navbar {
  padding: 0;
  #myCustomNav {
    transition: 0.15s;
    ul li a {
      display: block;
      padding: 27px 30px 14px;
      font-family: $primaryFont;
      font-weight: 500;
      font-size: 15px;
      color: $fontColor;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $fontColor;
        transform: scale(0);
        transition: 0.25s ease;
      }
      &.active::after,
      &:hover::after {
        transform: scale(1);
      }
    }
  }

  //*MEDIA QUERY
  @media (max-width: 991px) {
    & {
      padding: 15px 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .container {
        position: relative;
      }
      #myCustomNav {
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #fff;
        z-index: 90;
        position: absolute;
        top: 140%;
        left: 0;
        text-align: center;
        ul li a {
          display: inline-block;
        }
      }
    }
    .navbar-toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
